<!DOCTYPE html>
<html lang="en">
<head>
  <title>Facial Detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    p {
      margin: 0;
    }
    html, body {
    margin: 0;
    height: 100%;
    }
    h1 {
      margin: 0 0 20px 0;
    }
    td {
      border-top: 1px solid #000;
    }
    .bgimage {
      background-image: url('https://www.uts.edu.au/sites/default/files/2019-06/22896%20Entrepreneurship%20at%20UTS%20website%20banner%20update_72dpi_FA.png');
    }
    .btn-delete {
      position: absolute;
      top: 8px;
      right: 23px;
    }
    .p-center {
      text-align: center;
    }
    .file-input {
      display: flex !important;
    }
    .people-display {
      padding-top: 7px;
      display: flex;
      flex-wrap: wrap;
    }
    .people-badge {
      border-radius: 13px;
      margin-right: 8px;
      padding: 5px 10px;
      background-color: #5bc0de;
      color: white;
      font-weight: bold;
      border-color: #46b8da;
    }
    .people-icon {
      margin-right: 5px;
      color: white;
    }
    .main-menu {
      margin: 0 auto;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #333;
      color: white;
      text-align: center;
      padding-bottom: 10px;
      
    }
    .navbar-brand {
      color:white
    }
    .menu-button {
      position: relative;
      font-size:40px; 
      text-align:center; 
      color:#333; 
      display:inline-block; 
      border:white; 
      font-family:sans-serif; 
      margin-bottom:40px; 
      background-color:white;
      padding: 30px 50px;
      margin-right: 10px;
      border-radius: 10px;
    }
  </style>
</head>
<body class="bgimage">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-brand" src="https://webstockreview.net/images/triangular-clipart-2d-shape-2.png"></img>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" style="color: white;" href="/">FDCN</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" style="color: white;" href="/database">Database</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" style="color: white;" href="/detection">Detection</a>
      </div>
      <div class="navbar-header">
        <form action="/logout" method="post">
          <button type="submit" style="color: white;" class="navbar-brand btn btn-link btn-logout">Logout</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container main-menu">
    <h1 style="position: relative; font-size:48px; text-align:center; color:white; font-family:sans-serif; text-shadow: 2px 2px #333; margin-bottom:40px">Facial Detection in Natural Scene Images</h1>
    <p style="position: relative; font-size:18px; text-align:center; color:white; font-family:sans-serif; text-shadow: 2px 2px #333; margin-bottom:40px">
      This application provides users the ability to perform Facial Recognition on people of interest by taking a photo of them and uploading it to this web application.
      Users are also able to identify users they consider persons of interest and or possible threats by uploading images with identification attributes for both themselves and other users
      to perform recognition on previously un-identified individuals
    </p>
    <div style="margin-left:auto; margin-right:auto;">
      <div style="align-content: center; margin: 0 auto;">
        <table style="width:100%; padding-left:50%; content-align:center; border-collapse:collapse">
           <tr>
            <form action="/database" method="get">
              <button type="submit" class="menu-button" class="navbar-brand btn btn-link btn-logout">Database</button>
            </form>
            <form action="/detection" method="get">
              <button type="submit" class="menu-button" class="navbar-brand btn btn-link btn-logout">Detection / Recognition</button>
            </form>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
<footer class="footer">
  <p style="padding-top:10px;">Deep Learning and Convolutional Neural Networks UTS<br><br>
     Application Created by:
     Joshua Keegan,
     Yongcong Hou,
     Yudi Chen
  </p>
</footer>
</html>