<!DOCTYPE html>
<html class="bgimage" lang="en">
<head>
  <title>Facial Detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    p {
      margin: 0;
    }
    html, body {
    margin: 0;
    height: 100%;
    }
    h1 {
      margin: 0 0 20px 0;
    }
    td {
      border-top: 1px solid #000;
    }
    .bgimage {
      background-image: url('src/assets/Background.png');
    }
    .btn-delete {
      position: absolute;
      top: 8px;
      right: 23px;
    }
    .p-center {
      text-align: center;
    }
    .file-input {
      display: flex !important;
    }
    .people-display {
      padding-top: 7px;
      display: flex;
      flex-wrap: wrap;
    }
    .people-badge {
      border-radius: 13px;
      margin-right: 8px;
      padding: 5px 10px;
      background-color: #5bc0de;
      color: white;
      font-weight: bold;
      border-color: #46b8da;
    }
    .people-icon {
      margin-right: 5px;
      color: white;
    }
    .main-menu {
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FDCN</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="/database">Database</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="/detection">Detection</a>
      </div>
      <div class="navbar-header">
        <form action="/logout" method="post">
          <button type="submit" class="navbar-brand btn btn-link btn-logout">Logout</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container main-menu">
    <h1 style="position: relative;">Facial Detection in Natural Scene Images</h1>
    <div class="panel panel-default" style="margin-left:auto; margin-right:auto;">
      <div class="panel-body" style="align-content: center; margin: 0 auto;">
        <table style="width:100%; padding-left:30%; text-align:center; border-collapse:collapse">
           <tr>
            <th class="text-center">Database</th>
            <th class="text-center">Detection / Recognition</th>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>